**/node_modules
**/.next
.git
.gitignore
README.md
dist
build
coverage
*.log
.vercel
**/.env
**/.env.local
**/.DS_Store
**/npm-debug.log
**/yarn-error.log
**/pnpm-debug.log
**/*.pem
**/tests/
**/.terraform/
