name: Lighthouse CI
on:
  pull_request:
    branches: [ "main" ]

jobs:
  lighthouse:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: './frontend/package-lock.json'

      - name: Install dependencies
        run: cd frontend && npm ci

      - name: Build
        run: cd frontend && npm run build
        env:
          NEXT_PUBLIC_BACKEND_URL: "http://localhost:3000"

      - name: Serve app
        run: |
          cd frontend && npm run start &
          sleep 5

      - name: Static Analysis with Lighthouse
        uses: treosh/lighthouse-ci-action@v11
        with:
          urls: |
            http://localhost:3001/
          uploadArtifacts: true
          temporaryPublicStorage: true
          configPath: './frontend/.lighthouserc.json'
